* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-bts {
  font-size: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto 20px auto;
  font-weight: 500;
  text-align: center;
}
.section-bts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 56px;
  gap: 40px;
}
.section-bts-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-bts-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 50px;
}
.section-bts-typo {
  width: 50%;
}
.section-bts-typo h3 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 8px;
}
.section-bts-typo p {
  font-weight: 500;
  font-size: 1.2rem;
  /* line-height: 2rem; */
}
.section-shop-now {
  background: #ff4a00;
  position: relative;
}
.section-sn-nested {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 90px 0;
}
.section-sn-nested h2 {
  font-size: 3rem;
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 48px;
}
.section-sn-nested p {
  font-size: 1.1rem;
  /* margin-bottom: 12px; */
  font-weight: 600;
}
.sn-asset-image {
  position: absolute;
  top: -65px;
  right: 141px;
  height: 136px;
  width: auto;
}
.sn-asset-round {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 200px;
  width: auto;
  object-fit: contain;
}
.shop-now-btn {
  background: #000;
  color: white;
  padding: 18px 60px;
  text-transform: uppercase;
  margin: 50px auto 0 auto;
  border-radius: 24px;
  font-weight: 600;
  font-size: 1.2rem;
  border: 0;
}
.section-commtmnt {
  display: flex;
  width: 80%;
  margin: 56px auto 0 auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.section-commtmnt-typo {
  width: 50%;
}
.section-commtmnt-typo p {
  font-weight: 500;
  font-size: 1.2rem;
}
.section-commtmnt-typo h2 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.section-commtmnt-img {
  width: 50%;
}
.section-commtmnt-img img {
  width: 80%;
  object-fit: cover;
  height: 400px;
  border-radius: 50px;
}
.section-good-stuff {
  background: #fafaeb;
  margin-top: 56px;
  padding: 50px 0;
}
.section-good-stuff-nested {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.gs-heading {
  word-spacing: 30px;
  font-size: 5rem;
  margin: 10px 0;
  font-weight: 600;
  text-align: center;
}
.images-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  overflow-x: scroll;
}
.nav-mob-cross {
  display: none;
}
.section-focus {
  background-color: #d5f0f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-focus img {
  /* width: 500px;
  height: 500px; */
  width: 100%;
  object-fit: cover;
}
.serving-btn {
  border: 2px solid black;
  border-radius: 30px;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 600;
  transform: rotate(90deg) translateX(100px);
}
.section-wealways {
  background-color: #fafaeb;
  padding: 56px 0;
}
.section-wealways-nested {
  /* min-width: 50%; */

  max-width: 570px;
  border: 2px solid black;
  margin: auto;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.always-item {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.always-item p {
  font-weight: 600;
  font-size: 14px;
}

.wealways-btn {
  text-wrap: nowrap;
  padding: 4px 16px;
  background-color: transparent;
  font-weight: 600;
  border-radius: 20px;
  font-size: 1rem;
  position: relative;
}
.wealways-btn::after {
  content: "";
  height: 2px;
  width: 20px;
  position: absolute;
  top: 50%;
  right: -20px;
  background-color: #000;
}
.nav-mob-btn {
  display: none;
}
.shopping-btn {
  display: none;
}
.mob-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  z-index: 10;
  /* background-color: #fafaeb; */
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .heading-bts {
    font-size: 4rem;
  }
  .section-bts {
    flex-direction: column;
    align-items: flex-start;
    * {
      width: 100%;
    }
  }

  .section-sn-nested h2 {
    font-size: 2rem;
    line-height: normal;
  }
  .section-commtmnt {
    flex-direction: column-reverse;
    width: 90%;
    * {
      width: 100%;
    }
  }
  .section-commtmnt-typo p {
    font-size: 1rem;
  }
  .section-commtmnt-typo h2 {
    font-size: 2rem;
  }
  .section-commtmnt-img img {
    width: 100%;
  }
  .section-wealways-nested {
    margin: 20px;
    padding: 20px 15px;
  }
  .section-bts-typo h3 {
    font-size: 2rem;
  }
  .section-bts-typo p {
    font-size: 1rem;
  }
  .sn-asset-image {
    position: absolute;
    top: -65px;
    right: 50px;
    height: 120px;
  }
  .sn-asset-round {
    display: none;
  }
  .top-header::before {
    left: 20%;
  }
  .top-header::after {
    right: 20%;
  }
}
@media screen and (max-width: 480px) {
  .gs-heading {
    word-spacing: normal;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
    padding: 4px 12px;
  }
  .wealways-btn {
    padding: 4px 12px;
    font-size: 14px;
  }
  .section-wealways-nested {
    margin: 20px;
    padding: 16px 8px;
  }
  .section-good-stuff-nested {
    width: 100%;
  }
  .sn-asset-image {
    position: absolute;
    top: -65px;
    right: 14px;
    height: 120px;
  }
  .section-bts {
    width: 90%;
  }
  .section-sn-nested {
    width: 90%;
  }
  .nav-mob-cross {
    top: 10px;
    left: 10px;
  }
  .navbar {
    width: 60%;
  }
  .top-header::before {
    left: 8%;
  }
  .top-header::after {
    right: 8%;
  }
}
